trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'app/**'
      - 'resources/**'
      - 'routes/**'
      - 'config/**'
      - 'public/**'
      - Dockerfile
      - docker-compose.yml
      - composer.json
      - package.json

pool: azure-vm-pool

steps:
  - script: |
      cd /home/azureuser/url-shortener
      git pull origin main
      docker-compose down
      docker-compose up -d --build
    displayName: 'Deploy to Azure VM'