trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'app/**'
      - 'resources/**'
      - 'routes/**'
      - 'config/**'
      - 'public/**'
      - 'Dockerfile'
      - 'docker-compose.azure.yml'
      - 'nginx.conf'

pool: azure-vm-pool

steps:
  - script: |
      cd /home/azureuser/url-shortener
      git pull origin main
      cat > .env << EOF
      APP_KEY=base64:v9JqkGrOKfCxinQBvcU7O2fIhmKIbYSBg6XnE/na6OY=
      DB_PASSWORD=Str0ngP@ss2024!
      EOF
      docker-compose -f docker-compose.azure.yml down
      docker-compose -f docker-compose.azure.yml up -d --build
    displayName: 'Deploy to Azure'